################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ElsaWorkflowTest/.vs
/ElsaWorkflowTest/obj
