################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ElsaWorkflowTest/.vs
/ElsaWorkflowTest/obj
/ElsaStudioBlazorWasm/bin/Debug/net8.0
/ElsaStudioBlazorWasm/obj
/ElsaStudioBlazorWasm/ElsaStudioBlazorWasm.csproj.user
/ElsaWorkflowTest/bin/Debug/net8.0
/Server/bin/Debug/net8.0
/Server/obj
