################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ElsaWorkflowTest/.vs
/ElsaWorkflowTest/obj
/ElsaStudioBlazorWasm/bin
/ElsaStudioBlazorWasm/obj
/ElsaStudioBlazorWasm/ElsaStudioBlazorWasm.csproj.user
/ElsaWorkflowTest/bin/
/Server/bin/
/Server/obj
/Activitys/obj
/Activitys/bin
/ElsaWorkflowTest/ConsoleTest/bin/Debug/net8.0
/ElsaWorkflowTest/ConsoleTest/obj/Debug/net8.0
/ElsaWorkflowTest/ConsoleTest/obj
